@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cyan: #f0f0f0;
  --golden: #ffc633;
  --green: #01ab31;
}

body {
  font-family: var(--font-satoshi);
}

@layer components {
  .view-all-button {
    @apply sm:max-w-max sm:px-20 sm:mx-auto sm:text-base max-w-full block mt-6 mb-10 mx-4 p-4 text-center text-sm font-medium border border-black/10 rounded-full
  }
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--foreground);
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
